<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">
	<ui:define name="content">

		<h2>Usuarios</h2>
		<h:form>

			<p:inputText id="inputText" style="width: 150px"
				placeholder="Buscar Usuarios" value="#{usuarioBean.busca}" />
			<p:commandButton value="Buscar"
				action="#{usuarioBean.listarUsuarios()}" ajax="false" />
		</h:form>
		<h:form id="frmp">
			<p:dataTable id="dt" var="e" value="#{usuarioBean.usuarios}"
				paginator="true" rows="5"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15">

				<p:column headerText="Nombre Usuario">
					<p:outputLabel value="#{e.usuario}" />
				</p:column>

				<p:column headerText="Estado">
					<p:outputLabel value="#{e.estado}" />
				</p:column>

				<p:column headerText="Acciones" exportable="false">
					<p:commandButton value="Modificar" oncomplete="PF('wdlg').show()"
						action="#{usuarioBean.btncancelar()}"
						actionListener="#{usuarioBean.btnmodificar()}"
						update="frmp:frm3:btna,frmp:frm2:txtUsu,frmp:frm2:txtActual"
						immediate="true" process="@this" />
				</p:column>

			</p:dataTable>
			<p:dialog id="dlg" widgetVar="wdlg" modal="true" closeOnEscape="true"
				resizable="false" draggable="true"
				style="display:block text-align:center">
				<div id="cont" style="width:300px;height:40px;">
					<p:outputLabel
						value="Modificando Usuario: #{usuarioBean.usuarios.usuario}" />
				</div>
				<h:form id="frm2">
					<h:panelGrid id="pg2" columns="3">
						<p:outputLabel for="txtUsu" value="Usuario" />
						<p:inputText id="txtUsu" value="#{usuarioBean.usuarios.usuario}"
							disabled="#{!usuarioBean.enabled}" ajax="false" />
						<p:outputLabel for="txtUsu" value=" " />

						<p:outputLabel for="txtActual"
							value="Contraseña Actual:&#160;&#160;" />
						<p:inputText id="txtActual" required="true"
							value="#{usuarioBean.contraseña}" />
						<p:commandButton value="Verificar"
							actionListener="#{usuarioBean.verificaContraseña()}"
							update="frmp:frm3:btna" />

					</h:panelGrid>

				</h:form>
				<h:form id="frm3">
					<div id="container2" style="width: 520px">
						<h:panelGrid id="pg3" columns="3">
							<p:outputLabel for="pwd1" value="Nueva Contraseña:&#160;" />
							<p:password id="pwd1" value="#{usuarioBean.usuarios.contrasena}"
								match="pwd2" label="Password 1" required="true"
								validatorMessage="Contraseñas no coinciden" />
							<p:message for="pwd1" display="text" />
	
							<p:outputLabel for="pwd2" value="Repetir Contraseña:" />
							<p:password id="pwd2" value="#{usuarioBean.usuarios.contrasena}"
								label="Password 2" required="true" />
							<h:column />
	
						</h:panelGrid>
						</div>
						<div align="center">
						<p:commandButton id="btna" value="Aceptar"
							disabled="#{!usuarioBean.enabled}"
							actionListener="#{usuarioBean.modificar()}" process="frmp:frm3"
							ajax="true"
							oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()"
							update="frmp:frm3:pg3" />
						<p:outputLabel value="&#160;&#160;&#160;" />
						<p:commandButton value="Cancelar" onclick="PF('modal').hide()"
							immediate="true" />
					</div>

				</h:form>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>